@import 'menu';
@import 'config';
@import 'mobile';

body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    scroll-behavior: smooth;
}

.pimg1, .pimg2, .pimg3, .pimg4 {
    position: relative;
    opacity:0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* 
    fixed = parallax
    scroll = normal
    */
    background-attachment: fixed;
}

.pimg1 {
    background-image: url('../img/hamstretchbridge.jpg');
    min-height: 100%;
}

.pimg2 {
    background-image: url('../img/jumpkick.jpg');
    min-height: 400px;
}

.pimg3 {
    background-image: url('../img/man-doing-pushup-209969.jpg');
    min-height: 400px;
}

.pimg4 {
    background-image: url('../img/battleropes.jpg');
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #fff;
    color: #444;
}

.section-dark {
    background-color: #444;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
    border: #fff 2px solid;
}

.program-list {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 10px 20px;
    border: #666 2px solid;
    border-radius: 10px;
    text-align: center;

    h3 {
        border-bottom: 1px #666 solid;
    }
}

.program-item {
    list-style: none;
}

.btn {
    background: linear-gradient(to bottom, #666, #333);
    color: #fff;
    width: 100px;
    height: 30px;

    &:hover {
        background: linear-gradient(to bottom, rgb(64, 138, 88), darken(rgb(64, 138, 88), 30));
    }
}


#main-footer {
    text-align: center;
    height: 40px;
    width: 100%;
    background: #666;
    color: #fff;

    a {
        text-decoration: none;
        color: #ddd;
    }
}
